
body {
        background:radial-gradient(red, rgb(232, 54, 84),white);
        color: rgb(205, 133, 145);
        font-family: 'Comic Sans MS', cursive, sans-serif;
      }



    header h1{
       text-align: center;
       margin: 5px;
       font-size: 10px;;
       }

    .dog-img {
      width: 70px;
      height: 100px;
     }


     .refresh {
padding:2px;
font-size:6px;

     }
     
     .p



